.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 50px;
  box-sizing: border-box;
  background-color: #f9f9fa;
  border-top: 1px solid #999999;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
}
.nav__notification {
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 700;
  color: #dddddd;
  text-align: center;
  position: absolute;
  top: -4px;
  right: -8px;
}
.nav__dot {
  background-color: tomato;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  top: -4px;
  right: -8px;
}
